/* ============================================================
   HOME: More Than Coffee
============================================================ */

.more-than-coffee-section {
  position: relative;
  background: transparent;
  background-image: none;
}

.more-than-coffee-section::after {
  content: "";
  display: none;
}
